{% extends "quiz/base_players.html" %}
{% block content %}
<form action="{% url 'quiz:join_quiz' quiz_id %}" method="post" id="joinQuizForm">
    {% csrf_token %}
    <label for="player_name">Enter your name:</label>
    <input type="text" id="player_name" name="player_name" required>
    <input type="hidden" id="device_token" name="device_token">
    <button type="submit">Enter quiz</button>
</form>

<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-messaging.js"></script>

<script>
  // Initialize Firebase
  var firebaseConfig = {
    apiKey: "AIzaSyBcSUZ0zXsAEOY9t4PL82NqBKdGJFZgsX0",
    authDomain: "zavrsni-proba-1.firebaseapp.com",
    databaseURL: "https://zavrsni-proba-1-default-rtdb.europe-west1.firebasedatabase.app",
    projectId: "zavrsni-proba-1",
    storageBucket: "zavrsni-proba-1.appspot.com",
    messagingSenderId: "649829209184",
    appId: "1:649829209184:web:343823581c648622d65f05"
  };
  firebase.initializeApp(firebaseConfig);

  const messaging = firebase.messaging();
  let userInteracted = false; // Add this flag

  console.log("1");
  if (Notification.permission === 'granted') {
    getFCMToken();
  } else if (Notification.permission !== 'denied') {
    Notification.requestPermission().then(function(permission) {
      console.log(permission);
      setInterval(function() {
        location.reload();
      }, 5000);
    });
  }
  
  function getFCMToken() {
    messaging.getToken()
      .then(function(token) {
        console.log('FCM Token:', token);
        document.getElementById('device_token').value = token;
        if (userInteracted) { // Check the flag before reloading
          location.reload();
        }
      })
      .catch(function(err) {
        console.log('Unable to get permission to notify.', err);
      });
  }
</script>
{% endblock %}